/* Default styles for small screens and anything not caught by media */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jacquard+24+Charted&display=swap');

body {
    background-color: rgba(186, 248, 228, 0.575);
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: "Anton", sans-serif;
} 

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo{
    width: 100px;
    height: 100px;
    background-color:white;
    border: 5px solid black;
    border-radius: 20%;
}

main {
    display: flex;
    flex-direction: column;
}

/* h1 {
    display:inline;
    background-color: rgb(249, 252, 252);
} */
/*.column {
    width: 100%;
} */
/* Styled for screens 600px wide and larger */
/* @media screen and (main-width: 600px) {  */
@media screen and (main-width > 600px) {

    body {
        background-color: rgb(136, 127, 202);
    }

    header{
        flex-direction: row;
        justify-content: center;
        gap: 20px;

    }

    main {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

    }

    .main_pa{
        padding-left: 1rem;
    }
    /* .column {
        float: left;
        width: 33.33%;
    }*/

    /* Clear floats after the columns */
    /* .row:after {
        content: "";
        display: table;
        clear: both;
    } */
}